.Header {
  padding: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  background-color: #B16FB1;
  color: #E9E2E4;

  text-align: center;
  letter-spacing: 0.2em;

   h1 {
    font-weight: 800;
  }
}
