.spinner {
  display: block;

   animation: spinnerAnimation 1.5s ease-in-out infinite alternate;
}

 @keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }

   to {
    transform: rotate(360deg);
  }
}