@import url('https://fonts.googleapis.com/css?family=Raleway Italic:100,200,300,400,500,600,700,800,900');

 * {
  margin: 0;
  font-family: 'Raleway Italic', sans-serif;
}

 body {
  background-color: rgb(222, 214, 225);
  background-image: url('https://cdn.pixabay.com/photo/2018/04/07/08/28/notepad-3297994__480.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}